

.formRow {
  margin-bottom: 0.5em;
}

.form {
  display: flex;
  justify-content: center;
}

.fieldError {
  color: red;
  font-size: 0.90rem;
  margin-top: 0.2rem;
}

@media (max-width: 640px) {
  
  .form {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  
  .form {
    font-size: 0.8rem;
  }
}